.special-button a {
    box-sizing: border-box;
    color: #fff !important;
    background: #000;
    padding: 0.6em 0.575em !important;
    border-radius: 4px;
    border: 3px solid #000;

    &:hover,
    &:active {
        background: #fff;
        color: #000 !important;
    }
}